
<!DOCTYPE html>
<html>

<head>
  <title>Blog | Networth Calculator</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/	bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="http://fonts.googleapis.com/css?family=roboto" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">

  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/blog.css">
</head>

<body>
  <div class="container-fluid">
    <header class="header row justify-content-center">
      <div class="container row justify-content-between">
        <h1 class="h3 brand text-uppercase">
          <img src="https://res.cloudinary.com/okafohenrie/image/upload/v1569314110/Union_pbokvb.png" alt="logo" id="logo" />
          <a href="/">
            Rich
          </a>
        </h1>
        <div class="hamburger js-hamburger align-self-middle">
          <span class="fa fa-bars"></span>
        </div>
        <nav class="nav js-nav">
          <ul class="d-flex align-items-center">
          <li class="nav__link text-uppercase">
              <a href="/blog">
                Blog
              </a>
            </li>
            <li class="nav__link text-uppercase">
              <a href="/signIn">
                Sign In
              </a>
            </li>
            <li class="nav__link text-uppercase">
              <a href="/signUp">
                Sign Up
              </a>
            </li>
            <li>

              <button class="btn button button--primary text-uppercase">
                Net Worth
              </button>

            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container landing">
      <div class="content">
        <div class="blog-card">
        <div class="blog-img">
        <img src="141812.png">
        </div>
        <div class="blog-title">
          5 Apps that can help you take your finances to the next level

        </div>
        <spam class="blog-date">October 1st, 2020</spam>
        <p class="blog-con">
          The proper way to budget your expenses is to limit your spending. Forget shopping for things you dont need and buy only the neccessary needs for the month. 
          <a href="/blog-post1">Read more</a>
        </p>
      </div>

       <div class="blog-card">
        <div class="blog-img">
        <img src="card.png">
        </div>
        <div class="blog-title">
          How GOING CASHLESS IN NIGERIA CAN HELP YOU INCREASE YOUR NET WORTH

        </div>
        <spam class="blog-date">October 21st, 2019</spam>
        <p class="blog-con">
          The proper way to budget your expenses is to limit your spending. Forget shopping for things you dont need and buy only the neccessary needs for the month. 
          <a href="/blog-post">Read more</a>
        </p>
      </div>
    </div>


      
    </main>
  </div>
  <script src="js/app.js"></script>
</body>

</html>
